#menuv {
	border: 1px solid transparent;
	border-width: 1px 1px 0 1px;
	width: 150px;
	font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#menuv ul, li {
	list-style-type: none;
}

#menuv ul {
	margin: 0;
	padding: 0;
}

#menuv li {
	border-bottom: 1px solid transparent;
}

#menuv a {
font: 98% "Trebuchet MS",Arial,Helvetica,sans-serif;
text-decoration: none;
display: block;
padding: 4px 6px;
width: 149px;
background-image: linear-gradient(to bottom, #fff 0px, rgba(195, 189, 195, 1) 100%);
background-repeat: repeat-x;
border-color: #3278B3;
color: rgba(15, 22, 60, 1);
}
#menuh ul, li {
    list-style-type: none;
}

#menuv a:hover {
	background: #FFFFFF;
}




/*
	Menu Horizontal
*/
#menuh {
display: -moz-grid-line;
font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
margin-bottom: 3px;
display: flex;
background-color: #14548B;
}

#menuh ul, li {
	list-style-type: none;
}

#menuh ul {
	margin: 0;
	padding: 0;
}

#menuh li {
	float: left;
}

#menuh a {
text-align: center;
font: 98% "Trebuchet MS",Arial,Helvetica,sans-serif;
text-decoration: none;

display: block;
padding: 6px 0px;
width: 105px;
border-radius: 8px;
text-shadow: 0px -1px 0px #3071A9;
background-repeat: repeat-x;
border-color: #3278B3;
color: #FFF;
margin-right: 3px;
	}

#menuh a#primero {
	/*border-left: 1px solid #BCBCBC;*/
}

#menuh a:hover {
background-image: linear-gradient(to bottom, rgba(48, 124, 189, 1) 0px, rgba(26, 83, 131, 1) 100%);
}

 
 #degradado {
widht: 100%;
min-height:900px;
/*background: url(../../gradienteazul.jpg) repeat-x scroll 0;*/
margin:0;
}


	
body {
background-color: rgba(221, 230, 230, 1);


	/*background-image: url(imagenes/presentacion/fondo4.jpg);*/
	
}

@media (min-width: 600px) {

#menuh a {
text-align: center;
font: 12px "Trebuchet MS",Arial,Helvetica,sans-serif;
text-decoration: none;
display: block;
padding: 6px 0px;
width: 88px;
border-radius: 8px;
text-shadow: 0px -1px 0px #3071A9;
background-repeat: repeat-x;
border-color: #3278B3;
color: #FFF;
margin-right: 3px;
margin-bottom: 6px;
	}

}

#pract {
position: fixed;
background-color: rgba(21, 21, 21, 1);
text-align: -moz-center;
width: 800px;
}